
.user-card {
  max-width: 200px;
  min-width: 200px;
  background-color: #aad7e0;
  padding: 0px;
  margin: 25px 15px 25px 15px;
  border-radius: 20px;
  color: #ffffff;
}

.mat-card-header {
  border-radius: 20px 20px 0 0;
  padding: 5px 5px 0 5px;
}

.mat-card-content {
  font-size: 12px;
  padding: 5px;
  color: black;
}
.user-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.normal {
  background-color: #309730;
}

.warning {
  background-color: #abab2b;
  color: black;
}

.critical {
  background-color: #ad1818;
}

::ng-deep .custom-dialog-container{
  mat-dialog-container {
    padding: 0 0 24px 0;
    border-radius: 15px;
  }

}

